body {
    /* display: grid; */
    place-items: center;
    height: 50vh;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.registration {
    display: grid;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #ff5349;
}

.styled-input {
    border: none;
    border-bottom: 1px solid #000;
    padding: 15px;
    outline: none;
    transition: border-color 0.3s;
    width: 200px;
    position: relative;
}

.styled-input:focus {
    border-color: #ff5349;
    /* change the line of the input*/
}

.styled-button {
    display: block;
    border: none;
    margin: 0 auto;
    padding: 10px 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-width: 1px;
    transition: background-color 0.5s;
    background-color: #ff5349;
    font-size: 15px;
}

.styled-button:hover {
    transform: scale(1.03);
}

/* NAVBAR */

.navbar {
    background-color: #ff5349;
    overflow: hidden;
}

.navbar ul {
    display: inline-flex;
    list-style: none;
}



/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 10px;
}

.navbar ul {
    margin: 0 0;
    list-style: none;
}

/* Change the color of links on hover */
.navbar a:hover {
    color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: #04AA6D;
    color: white;
}

/* CLOCK IN & OUT */
.clock {
    margin: 15px;
    display: grid;
    text-align: center;
}

.timesheet-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.timesheet-item {
    flex: 1;
    padding: 10px;
    list-style-type: none;
}

.timesheet-label {
    padding-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
}

/* FOOTER */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: #ff5349;
    color: white;
    text-align: center;
}

.dropdown {
    display: none;
}

.navbar ul li:hover .dropdown {
    display: block;
    position: absolute;
    background-color: #ff5349;
    margin-top: 32px;
    /* width: 100px; */
    text-align: left;
}

.navbar ul li:hover .dropdown ul {
    display: block;
    margin-left: -40px;
    margin-top: 10px;
}

/* .dropdown button {
    border: none;
    font-size: 15px;
    background-color: #ff5349;
    color: white;
    text-align: left;
    width: 100px;
    margin-left: -50px;
    text-align: center;
} */
/* 
.dropdown button:hover {
    color: #000;
    cursor: pointer;
} */

.schedule-chart {
    margin: 20px;
    border: 1px solid #ddd;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.chart-cell {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    height: 20px;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.hour-cell {
    background-color: #f2f2f2;
}

.half-hour-cell {
    background-color: #e6e6e6;
}

.all_employees,
.employee_detail,
.time_card_detail {
    margin: 30px
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width:768px) {
    body {
        height: 100vh;
    }
}

#clock-body {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Three columns with the 2nd and 3rd combined */
    height: 100vh;
    margin: 0;
}

.column1 {
    border: none;
    background-color: #f9f0f0;
    padding: 10px;
    
}

/* Combined styles for columns 2 and 3 */
.column2 {
    border: none; /* Remove border between columns 2 and 3 */
    padding: 10px;
    text-align: center;
}

.column2 form {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 20px;
}

.column2 hr {
    width: 50%; /* Adjust the width of the hr element */
    margin: 20px auto; /* Center the hr element */
    border: 1px solid #ccc;
}

.clock-button {
    font-size: 15px;
    margin: 0 auto;
    padding: 10px 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-width: 1px;
    background-color: white;
    border: 2px solid #ff5349;
}

.edit-fieldset {
    border: none;
    font-size: 20px;
}

.edit-hr {
    margin: 10px 0 40px; /* Add margin at the top and bottom of the hr element */
}

.edit-label {
    display: block;
    margin: 10px 0 10px;
    font-size: 13px;
}

.edit-input {
    display: block;
    width: 200px;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    opacity: 0.7;
}

#edit-a {
    display: inline-block;
    padding: 8px 18px;
    text-decoration: none;
    background-color: white;
    color: black;
    border: 2px solid #ff5349;
    border-radius: 5px;
    font-size: 15px;
}

#edit-button {
    display: inline-block;
    font-size: 15px;
    margin: 0 auto;
    padding: 10px 25px;
    margin-top: 30px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #ff5349;
    color: white;
    border: none;
}

#edit-buttons-container {
    margin-left: 10px;
}