body {
    /* display: grid; */
    place-items: center;
    height: 50vh;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.registration {
    display: grid;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #ff5349;
}

.styled-input {
    border: none;
    border-bottom: 1px solid #000;
    padding: 15px;
    outline: none;
    transition: border-color 0.3s;
    width: 200px;
    position: relative;
}

.styled-input:focus {
    border-color: #ff5349;
    /* change the line of the input*/
}

.styled-button {
    display: block;
    border: none;
    margin: 0 auto;
    padding: 10px 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-width: 1px;
    transition: background-color 0.5s;
    background-color: #ff5349;
    font-size: 15px;
}

.styled-button:hover {
    transform: scale(1.03);
}

/* NAVBAR */

.navbar {
    background-color: #ff5349;
    overflow: hidden;
}

.navbar ul {
    display: inline-flex;
    list-style: none;
}



/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 10px;
}

.navbar ul {
    margin: 0 0;
    list-style: none;
}

/* Change the color of links on hover */
.navbar a:hover {
    /* background-color: #ddd; */
    color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: #04AA6D;
    color: white;
}

/* CLOCK IN & OUT */
.clock {
    /* background-color: blue; */
    margin: 15px;
    display: grid;
    text-align: center;
}

.timesheet-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.timesheet-item {
    flex: 1;
    padding: 10px;
    list-style-type: none;
}

.timesheet-label {
    padding-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
}
/* FOOTER */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ff5349;
    color: white;
    text-align: center;
}

.dropdown {
    display: none;
}

.navbar ul li:hover .dropdown {
    display: block;
    position: absolute;
    background-color: #ff5349;
    margin-top: 32px;
    width: 100px;
    text-align: left;
}

.navbar ul li:hover .dropdown ul {
    display: block;
    margin: 10px;
}

.dropdown button {
    border: none;
    font-size: 15px;
    background-color: #ff5349;
    color: white;
    text-align: left;
    width: 100px;
    margin-left: -50px;
    text-align: center;
}

.dropdown button:hover {
    color: #000;
    cursor: pointer;
}

@media (max-width:768px) {
    body {
        height: 100vh;
    }
}