{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Schedule</title>
    <meta name="description" content="Description Goes Here" />
    <link href="" rel="stylesheet" />
  </head>
  <body>
    <h1>Login</h1>
    <div>Please sign in to continue</div>
    <form action="" method="post">
      {% csrf_token %}

      {{ form.as_p }}
      <label for="email">email:</label>
      <input type="text" id="username" name="username" required><br>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required><br>

      <input type="submit" value="Login">
      <div>Dont't have an account? <a href="{% url 'signup' %}">Sign up</a></div>
    </form>
    <script src=""></script>
  </body>
</html>
