{% extends 'home.html' %}

{% block content %}

<div id="clock-body">

    <div class="column1">

        <h1>Welcome {{ first_name }}</h1>
        <h1>{{ now }}</h1>
        <h1 id="location">Fetching Current Location...</h1>
    </div>
    
    <div class="column2">
        
        {% if clock_in_verification %}
    
        <form method="post" action="{% url 'clock_in' %}" id="clockInForm">
            {% csrf_token %}
            <button class="clock-button" type="button" onclick="getUserLocation('clockInForm')">Clock In</button>
          </form>

        {% else %}

            <form action="{% url 'clock_out' %}" method="POST" id="clockOutForm">
                {% csrf_token %}
                <button class="clock-button" type="button" onclick="getUserLocation('clockOutForm')">Clock Out</button>
            </form>

        {% endif %}

        <form action="{% url 'break_time' %}" method="POST" id="breakForm">
            {% csrf_token %}
        
                <button class="clock-button" type="button" onclick="getUserLocation('breakForm')">Break In</button>    
            
        </form>
        <h2>
            {% if messages %}
                {% for message in messages %}
                <div>{{ message }}</div>
                {% endfor %}
            {% endif %}
        </h2>
        <hr>

        <fieldset>
            <legend>{{ date_today }}</legend>
            <table>
                <tr>
                <th>Clock In</th> 
                <th>Clock Out</th>
                <th>Break In</th>
                <th>Break Out</th>
                <th>Hours Worked</th>
                </tr>
                <tr>
                    <th>{{ clock_in_time }}</th>
                    <th>{{ clock_out_time }}</th>
                    <th>{{ break_in_time }}</th>
                    <th>{{ break_out_time }}</th>
                    <th>{{ net_hours_worked }} Hours</th>
                </tr>
            </table>
        </fieldset>
        <hr>
    </div>
</div>





{% endblock content %}

