{% extends 'home.html' %}

{% block content %}

{% if clock_in_verification %}
    
    <form action="{% url 'clock_in' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Clock In</button>
    </form>

{% else %}

    <form action="{% url 'clock_out' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Clock Out</button>
    </form>

{% endif %}

<form action="{% url 'break_time' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Break</button>
</form>

{% endblock content %}
    
