{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lilita+One&display=swap"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      // Get user's location using Geolocation API
      navigator.geolocation.getCurrentPosition(successCallback, errorCallback);

      function successCallback(position) {
          const latitude = position.coords.latitude;
          const longitude = position.coords.longitude;
          
          // Passing latitude and longitude to clock in, out, and break time.
          fetch(`/clock_in/?latitude=${latitude}&longitude=${longitude}`)
          fetch(`/clock_out/?latitude=${latitude}&longitude=${longitude}`)
          fetch(`/break_time/?latitude=${latitude}&longitude=${longitude}`)
          
          // Make a POST request to the Django backend with user's location
          fetch(`/get_user_location/?latitude=${latitude}&longitude=${longitude}`)
          .then(response => response.json())
          .then(data => {
              const { city, state } = data;
              document.getElementById('location').textContent = `${city}, ${state}`;
          })
          .catch(error => {
              console.error('Error:', error);
              document.getElementById('location').textContent = 'Error fetching location information';
          });
      }

      function errorCallback(error) {
          console.error('Error getting user location:', error.message);
          document.getElementById('location').textContent = 'Error getting user location';
      }
  </script>
    <title>Schedule</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    {% block content%}

      {% include 'schedule.html' %}

    {% endblock %}
    
    <footer class="footer">
      <p></p>
    </footer>
  </body>

</html>

