{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lilita+One&display=swap"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

function getUserLocation(formId) {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          function (position) {
            const userLocation = `${position.coords.latitude},${position.coords.longitude}`;
            // Add a hidden input field to the form to pass the user's location
            const userLocationInput = document.createElement('input');
            userLocationInput.type = 'hidden';
            userLocationInput.name = 'user_location';
            userLocationInput.value = userLocation;
            document.getElementById(formId).appendChild(userLocationInput);
            // Explicitly submit the form
            document.getElementById(formId).submit();
          },
          function (error) {
            console.error('Error getting location:', error);
            alert('Unable to retrieve your location. Make sure location services are enabled.');
          }
        );
      } else {
        alert('Geolocation is not supported by this browser.');
      }
    }

            // Get user's location using Geolocation API
      
      navigator.geolocation.getCurrentPosition(successCallback, errorCallback);

      function successCallback(position) {
          const latitude = position.coords.latitude;
          const longitude = position.coords.longitude;

          // Make a POST request to the Django backend with user's location
          fetch(`/api_call/?latitude=${latitude}&longitude=${longitude}`)
          .then(response => response.json())
          .then(data => {
              const { city, state } = data;
              document.getElementById('location').textContent = `${city}, ${state}`;
          })
          .catch(error => {
              console.error('Error:', error);
              document.getElementById('location').textContent = 'Error fetching location information';
          });
      };

      function errorCallback(error) {
          console.error('Error getting user location:', error.message);
          document.getElementById('location').textContent = 'Error getting user location';
      };
  </script>
    <title>Schedule</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    {% block content%}

      {% include 'schedule.html' %}

    {% endblock %}
    
    <footer class="footer">
      <p></p>
    </footer>
  </body>

</html>

