<div class="navbar">
    <ul>
        <li><a href="{% url 'home' %}">Schedule</a></li>
        <li><a href="{% url 'clock' %}">Clock</a></li>
        <li>
            <a href="">{{ first_name }} ▾</a>
            <div class="dropdown">
            <ul>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li>
                    <a href="{% url 'edit_profile' %}">Update</a>
                </li>
            </ul>
            
        </li>
        
        {% if user.is_staff is False %}
        <li><a href="{% url 'show_employee' user.id %}">Account</a></li>
        {% else %}
        <li><a href="{% url 'all_employees' %}">Employees</a></li>
        {% endif %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
            
    </ul>
</div>
