{% comment %} {% extends 'home.html' %} {% endcomment %}

{% block content %}

<script>

    function openShiftWindow() {
        // Specify the width and height for the new window
        let width = 300;
        let height = 300;
        
        // Calculate the center of the screen for window placement
        let left = (window.innerWidth - width) / 2;
        let top = (window.innerHeight - height) / 2;

        let openedWindow = window.open("http://127.0.0.1:8000/schedule/create_shift/", "addShiftWindow", `width=${width},height=${height},left=${left},top=${top},resizable=yes`)
        
        openedWindow.focus();
    }
</script>

    
{% load custom_filters %}

<div class="clock">
<div>
    <h2 id="location">Fetching Current Location...</h2>
</div>
<div>
    <p>{{ time_now }}</p>
    <p>{{ date_today }}</p>
</div>
<div>

<button onclick="openShiftWindow()">Add Shift</button>
{% include 'schedule/weekly_schedule.html' %}

</div>                
</div>
<form action="" method="post">
{% csrf_token %}
<button type="submit" name="past_week">◄</button>
<button type="submit" name="current_week">Current Week</button>
<button type="submit" name="next_week">►</button>
<div class="schedule-chart">
    <table>
        <thead>
            <tr>
                {% comment %} <th></th> <!-- Empty corner cell --> {% endcomment %}
                {% for date in week_dates %}
                    <td>{{ date|date:"l, F j" }}</td>
                {% endfor %}

            </tr>
        </thead>
        <tbody>
            {% comment %} {% for hour in 8|hours_range:22 %} {% endcomment %}
            
            {% comment %} {% if hour < 12 %}
            <tr>
                <td class="hour-cell">{{ hour }}:00 am</td>
            </tr>
            <tr>
                <td class="half-hour-cell">{{ hour }}:30 am</td>
            </tr>
            {% elif hour >= 12 and hour < 21 %}
            <tr>
                <td class="hour-cell">{{ hour }}:00 pm</td>
            </tr>
            <tr>
                <td class="half-hour-cell">{{ hour }}:30 pm</td>
            </tr>
            {% elif hour == 21 %}
            <tr>
                <td class="hour-cell">{{ hour }}:00 pm</td>
            </tr>                   
            {% endif %}

        {% endfor %} {% endcomment %}
            
        </tbody>
</div>
</form>
{% endblock content %}