{% comment %} {% extends 'home.html' %} {% endcomment %}

{% block content %}

<script>
    function openAddShiftModal() {
        document.getElementById('addShiftModal').style.display = 'block';
    }

    function closeAddShiftModal() {
        document.getElementById('addShiftModal').style.display = 'none';
    }

    window.onClick = function(event) {
        if (event.target == document.getElementById('addShiftModal')) {
            closeAddShiftModal();
        }
    }
</script>
    
{% load custom_filters %}

<div class="clock">
<div>
    <h2>Location</h2>
</div>
<div>
    <p>{{ time_now }}</p>
    <p>{{ date_today }}</p>
</div>
<div>
<h2>
    {% if messages %}
        {% for message in messages %}
        <div>{{ message }}</div>
        {% endfor %}
    {% endif %}
</h2>

<button onclick="openAddShiftModal()">Add Shift</button>
{% include 'schedule/add_shift.html' %}
{% include 'schedule/weekly_schedule.html' %}

</div>                
</div>
<form action="" method="post">
{% csrf_token %}
<button type="submit" name="past_week">◄</button>
<button type="submit" name="current_week">Current Week</button>
<button type="submit" name="next_week">►</button>
<div class="schedule-chart">
    <table>
        <thead>
            <tr>
                <th></th> <!-- Empty corner cell -->
                {% for date in week_dates %}
                    <td>{{ date|date:"l, F j" }}</td>
                {% endfor %}

            </tr>
        </thead>
        <tbody>
            {% for hour in 8|hours_range:22 %}
            
            {% if hour < 12 %}
            <tr>
                <td class="hour-cell">{{ hour }}:00 am</td>
            </tr>
            <tr>
                <td class="half-hour-cell">{{ hour }}:30 am</td>
            </tr>
            {% elif hour >= 12 and hour < 21 %}
            <tr>
                <td class="hour-cell">{{ hour }}:00 pm</td>
            </tr>
            <tr>
                <td class="half-hour-cell">{{ hour }}:30 pm</td>
            </tr>
            {% elif hour == 21 %}
            <tr>
                <td class="hour-cell">{{ hour }}:00 pm</td>
            </tr>                   
            {% endif %}

        {% endfor %}
            
        </tbody>
</div>
</form>
{% endblock content %}