{% extends 'home.html' %}


{% block content %}
    <h2>Update Profile</h2>
    <h3>{{ error_message }}</h3>
    <form action="{% url 'update_profile' user.id %}" method="POST">
        {% csrf_token %}
        <div>Username:</div>
        <input type="text" name="username" value="{{ user.username }}">
        <div>First Name</div>
        <input type="text" name="first_name" value="{{ user.first_name }}">
        <div>Last Name</div>
        <input type="text" name="last_name" value="{{ user.last_name }}">
        <div>Email</div>
        <input type="email" name="email" value="{{ user.email }}">
        <h2>Change Password</h2>
        <div>Current Password</div>
        <input type="password" name="current_password" placeholder="Password" autocomplete="new-password">
        <div>New Password</div>
        <input type="password" name="new_password" placeholder="Password" autocomplete="new-password">
        <div>Confirm New Password</div>
        <input type="password" name="confirm_password" placeholder="Password" autocomplete="new-password"><br>
        
        <button type="submit">Update</button>
    </form>
{% endblock content %}
    