{% extends 'home.html' %}


{% block content %}
    
    <h2>profile page</h2>
    <table>
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th>Staff Status</th>
            <th>Date Joined</th>
        </tr>
        <tr>
            
            {% for key, value in user_values.items %}
                <th>
                    {% if key == 'staff_status' %}
                        {% if value %}
                            Manager
                        {% else %}
                            Employee
                        {% endif %}
                    {% else %}
                        {{ value }}
                    {% endif %}
                </th>
            {% endfor %}
   
        </tr>
    </table>
{% endblock content %}
    