{% extends 'home.html' %} 
{% load static %}
{% block content %}
<form action="{% url 'pick_date_range' id %}" method='POST'>
    {% csrf_token %}
    <label>Start Date:</label>
    <input type="date" name="start_date"/>
    <label>End Date:</label>
    <input type="date" name="end_date"/>
    <input type="submit" class="" value="Set Date Range">
</form>

<h2>Time Card Detail</h2>
<h3>{{ first_name }} {{ last_name }}</h3>
<div class = 'timesheet-container'>
    <ol class = 'timesheet-item'>
        <div class = 'timesheet-label'>Date</div>
        {% for clock_in in clock_ins %}
            <li>{{ clock_in.date }}</li>
        {% endfor %}
    </ol>
    <ol class = 'timesheet-item'>
        <div class = 'timesheet-label'>Clock In</div>
        {% for clock_in in clock_ins %}
            <li>{{ clock_in.time }}</li>
        {% endfor %}
    </ol>
    <ol class = 'timesheet-item'>
        <div class = 'timesheet-label'>Break Period</div>
        {% for break_period in break_periods %}
            <li>{{ break_period }}</li>
        {% endfor %}
    </ol>
    <ol class = 'timesheet-item'>
        <div class = 'timesheet-label'>Clock Out</div>
        {% for clock_out in clock_outs  %}
            <li>{{ clock_out.time }}</li>
        {% endfor %}
    </ol>
    <ol class = 'timesheet-item'>
            <div class = 'timesheet-label'>Hours</div>
            {% for work_hour in work_hours %}
                <li>{{ work_hour }}</li>
        {% endfor %}
    </ol>
    <ol class = 'timesheet-item'>
        <div class = 'timesheet-label'>Net Hours</div>
        <li>{{ net_hours }}</li>        
    </ol>
</div>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
