{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Schedule</title>
    <meta name="description" content="Description Goes Here" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lilita+One&display=swap"
    />
    <title>Schedule App</title>
  </head>
  <body class="registration">
    {% block content %}
    <h1>Login</h1>

    <form action="" method="post">
      {% csrf_token %}
      <div>Please sign in to continue</div>
      {{ form.as_p }}
      <input
        class="styled-input"
        type="text"
        name="username"
        placeholder="Username"
        required
      /><br />

      <input class="styled-input" type="password" name="password" placeholder="Password" required/><br />

      <input class="styled-button" type="submit" value="Log in" />
    </form>

    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    <div>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></div>
    {% endblock content %}
    <script src=""></script>
  </body>
</html>
